.navbar{
	background-color: #ffffff;
	overflow: hidden;

}
.left{
	float: left;
	text-align: left;
	font-size: 50px;
	color: #000000;
	text-orientation: center;
	 padding: 5px 14px;


}
.right{
	float: right;
	/*text-align: right;
	text-decoration-color: black;
	font-size: 150%;
	text-orientation: center;
	margin-right: 5%;*/
	display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;

}
.rightlast{
	float: right;
	display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
}